.white {
    color:$white;
} 
.yellow {
    color: $yellow;
}
.darkgreen{
    color:$darkgreen;
}
.lightgreen{
    color:$lightgreen;
}
.gray{
    color:$gray;
}
.ffp{
    font-family: $ffp;
}
.fwl{
    font-weight: $fwl;
}
.fwz{
    font-weight: $fws;
}
.fz16{
    font-size: $fz16;
}
.fz20{
    font-size: $fz20;
}
.fz24{
    font-size: $fz24;
}
.lh16{
    line-height: $lh16;
}
.lh20{
    line-height: $lh20;
}
.lh24{
    line-height: $lh24;
}
.lh29{
    line-height: $lh29;
}
.lh30{
    line-height: $lh30;
}
.lh32{
    line-height: $lh32;
}
.lh73{
    line-height: $lh73;
}