.container{
    max-width: 940px;
    margin: 0 auto;
    .header{
        max-width: 95%;
        margin: 0 auto;
        padding: 36px  0;
        display: flex;
        justify-content: space-around;
        align-items:center;
        position: relative;
        @include pad{
            display:block;
            align-items: start;
        };
        
        }
    .titlelogo{
            width: 50%;
            @include pad{
                width: 85%;
            };
                a{
                    @include logo;
                    height: 40px;
                    @include pad {
                        @include logo2;
                        height: 18px;
                        background-position: center
                    };
                }
            
        }
    label {
        display: none;
        @include pad {
            display: block;
            float: left;
        };
    }
    .headerinput{
        display: none;
        @include pad {
            &:checked ~.titlemenu{
                max-height: 300px;
            }
        }
    }   
        .titlemenu{
            width: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include pad{
                width: 100%;
                clear: both;
                max-height: 0;
                overflow: hidden;
                flex-direction: column;
                transition:  .5s;
            };
            li{
                width: 100%;
                @include pad {
                    text-align: center;
                }
                a{
                    text-decoration: none;
                    font-size: $fz16;
                    font-family: $ffp;
                    line-height: $lh73;
                    font-weight: "Swmibold";
                    color: $darkgreen;
                    padding-right: 5%;
                    @include pad {
                        display: block;
                    };
                    &:hover{
                        color:$lightgreen;
                        background-color: $darkgreen
                    }
                }
            }
           
        }
        .shoppingcart{
            @include shoppingcart;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            top:60px;
            @include pad {
                top:40px;
            };
        }
    
    .main {
        max-width: 940px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 60px;
        @include pad{
            max-width: 374px;
        };
        .mainpic{
            width: 100%;
            height: 496px;
            background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true);
            background-position: center;
            margin-bottom: 60px;
            background-size: cover;
            @include pad{
                background-image: none;
                height: auto;
            };
            img{
                display: none;
                width: 100%;
                height: 277px;
                @include pad {
                    display: block;
                }
            }
        }
        .article{
            max-width: 939px;
            display: flex;
            justify-content: space-between;
            @include pad {
                display: flex;
                flex-direction: column;
            };
            .meaulist{
                max-width: 27%;
                @include pad{
                    max-width: 100%;
                };
                .meau2{
                    text-align: center;
                    .span{
                        background-color: $darkgreen;
                        color: $lightgreen;
                    }
                    li {
                        font-size: 24px;
                        line-height: 40px;
                        width: 300px;
                        height: 42px;
                        border-left:1px solid $lightgreen;
                        border-right:1px solid $lightgreen;
                        border-bottom: 1px solid $lightgreen;
                        @include pad {
                            width: auto;
                            height: auto;
                        }
                        a{
                            color: $darkgreen;
                            text-decoration: none;
                            background-color: white;
                            display: block;
                            &:hover{
                                background-color: $lightgreen;
                            }
                        }
                        
                        
                    }
        
                }
            }
            .items {
                width: 69%;
                display: flex;
                flex-wrap: wrap;
                @include pad {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 30px;
                };
                .item1{
                    padding-left: 20px;
                    position: relative;
                    @include pad {
                        margin-bottom: 30px;
                    };
                    .name {
                        display: flex;
                        justify-content: space-around;
                        border: 1px solid $lightgreen;
                        color: $darkgreen;
                        
                        li{
                            text-align: center;
                            width: 50%;
                            font-size: $fz20;
                            line-height: $lh20;
                            padding-top: 13px;
                            padding-bottom: 13px;
                            font-family: $ffp;
                            font-weight: $fwl;
                        }
                        .amount{
                            border-left:1px solid $lightgreen;
                            font-weight: $fwr; 
                            color: $darkgreen;                        
                           }
                        
                        }
                        img{
                            vertical-align: top;
                        }
                    .bottom {
                            text-align: center;
                            background-color: $lightgreen;
                            a{
                                display: block;
                                color: $darkgreen;
                                text-decoration: none;
                                font-size: $fz24;
                                font-family: $ffp;
                                font-weight: $fws;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                &:hover{
                                    color:$lightgreen;
                                    background-color: $darkgreen;
                                }
                            }
                    }
                    .box1{
                        position: absolute;
                        background-color: $darkgreen;
                        top: 0;
                        left: 40px;
                        text-align: center;                       
                        p{
                            writing-mode: vertical-rl;
                            font-size: $fz16;
                            line-height: $lh20;
                            color: $lightgreen;
                            padding: 5px;
                        }
                    }
                    .heart {
                        position: absolute;
                        right: 22px;
                        top: 19px;
                    }
                    }
                .item2{
                        padding-left: 20px;
                        position: relative;
                        @include pad{
                            display: none;
                        };
                        .name {
                            display: flex;
                            justify-content: space-around;
                            border: 1px solid $lightgreen;
                            color: $darkgreen;
                            li{
                                text-align: center;
                                width: 50%;
                                font-size: $fz20;
                                line-height: $lh20;
                                padding-top: 13px;
                                padding-bottom: 13px;
                                font-family: $ffp;
                                font-weight: $fwl;
                            }
                            .amount{
                                border-left:1px solid $lightgreen;
                                font-weight: $fwr; 
                                color: $darkgreen;                        
                               }
                            
                            }
                            img{
                                vertical-align: top;
                            }
                        .bottom {
                                text-align: center;
                                background-color: $lightgreen;
                                a{
                                    display: block;
                                    color: $darkgreen;
                                    text-decoration: none;
                                    font-size: $fz24;
                                    font-family: $ffp;
                                    font-weight: $fws;
                                    padding-top: 16px;
                                    padding-bottom: 16px;
                                    &:hover{
                                        color:$lightgreen;
                                        background-color: $darkgreen;
                                    }
                                }
                        }
                        .box1{
                            position: absolute;
                            background-color: $darkgreen;
                            top: 0;
                            left: 40px;
                            text-align: center;                       
                            p{
                                writing-mode: vertical-rl;
                                font-size: $fz16;
                                line-height: $lh20;
                                color: $lightgreen;
                                padding: 5px;
                            }
                        }
                        .heart {
                            position: absolute;
                            right: 22px;
                            top: 19px;
                        }
                        }
                }
            }
        .page{
            max-width: 100%;
            margin-top: 30px;
            @include pad {
                margin-right: 10px;
            };
            ul{
                display: flex;
                justify-content: flex-end;
                li{
                    border:1px solid $lightgreen;
                    text-align: center;
                }
                .num{
                    text-decoration: none;
                    display: block;
                    color: #3F5D45;
                    padding: 20px 25px 0 25px;
                    &:hover{
                        background-color: $darkgreen;
                        color: $lightgreen;
                    }
                }
                .forward1{
                    display: block;
                    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60px;
                    height: 60px;
                    &:hover{
                        background-color: #EAF0ED;
                    }
                }
                .forward2{
                    display: block;
                    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60px;
                    height: 60px;
                    &:hover{
                        background-color: #EAF0ED;
                    }
                }
               
            }
        }
    }
    
}
.footer{
    max-width: 100%;
    .footerup{
        max-width: 100%;
        background-color: $darkgreen;
        position: relative;
        .footerlogo{
            background-image: url(../images/logo-light.svg);
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            top:55px;
            left:70px;
            @include pad{
                left:30px;
                top:10px;
            };
        }
        .up{
            max-width: 70%;
            margin: 0 auto;
            padding: 5% 0 ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include pad{
                flex-direction: column;
            };
            h4{
                font-family: "Helvetica neue";
                font-weight: "Regular";
                font-size: $fz24;
                line-height: $lh29;
                color: $lightgreen;
                @include pad{
                    padding-bottom: 30px;
                }
                
            }
            .email{
                width: 50%;
                height: 60px;
                background-color: $lightgreen;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include pad {
                    width: 100%;
                    margin-bottom: 30px;
                };
                .emaillogo{
                    background-repeat: no-repeat;
                    background-image: url(..//images/mail-24px.png);
                    background-position: center;
                    width: 24px;
                    height: 24px;
                    
                }
                input{
                    background-color: $lightgreen;
                    border: none;
                    color: $lightgreen;
                }
                .foward{
                    background-repeat: no-repeat;
                    background-image: url(../images/arrow_forward-24px.png);
                    background-position: center;
                    width: 60px;
                    height: 60px;
                    display: block;
                    background-color: $yellow;
                    &:hover{
                        transition: all 0.4s;
                        background-color: rgb(240, 240, 6);
                        cursor: pointer;
                    }
                }
            }
        }

    }
    .footerdown{
        max-width: 100%;
        background-color: $lightgreen;
        .footerart{
            max-width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 30px;
            .left{
                width: 80%;
                .logo{
                    background-repeat: no-repeat;
                    background-image: url(../images/logotype-lg-dark.svg);
                    width: 171.2px;
                    height: 26.6px;
                    padding-bottom: 115.5px;
                }
                .tel{
                    li{
                        font-family: "Helvetica Neue";
                        font-weight: "Regular";
                        font-size: $fz16;
                        line-height: 24px;
                        color: $darkgreen;
                    }
                    
                }

            }
            .right{
                background-repeat: no-repeat;
                background-image: url(../images/sm-今天是個吃甜點的好日子.svg);
                width: 60px;
                height: 220px;
                @include pad {
                    display: none;
                };
            }
        }
        .last{
            max-width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            @include pad{
                flex-direction: column;
            };
            .icon{
                @include pad {
                    padding-bottom: 30px;
                } ;  
                .line{
                    width: 30px;
                    height: 30px;
                }
                .fb{
                    width: 30px;
                    height: 30px;
                }

            }
            .year{
                font-family: "Times";
                font-weight: "Regular";
                font-size: $fz16;
                line-height: 19px;
                color: $darkgreen;                    
            }
        }
    }
} 
