$white:#FFFFFF;
$yellow:#FFE180;
$darkgreen:#3F5D45;
$lightgreen:#EAF0ED;
$gray:#8DA291;
$ffp:"PingFang TC";
$fwl:"light";
$fws:"semibold";
$fwr:"regular";
$fz16:16px;
$fz20:20px;
$fz24:24px;
$lh16:16px;
$lh20:20px;
$lh24:24px;
$lh29:29px;
$lh30:30px;
$lh32:32px;
$lh73:73px;
